@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Playfair Display SC';
  font-size: 64px;
  text-align: center;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
  width: 10%
}

tbody tr:nth-child(odd) {
  background-color: #F5E1FD;
}
th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 10%;
}

thead th:nth-child(4), thead th:nth-child(5), td:nth-child(4), td:nth-child(5) {
  width: 30%;
}
.rs-form-control-label {
  white-space: nowrap;
}

button.plus {
  color: green !important;
  font-size: 1rem;
}
button.plus:hover, button.plus:focus {
 
  text-decoration: none;
}
.rs-form-help-text {
  color: red;
}
.btn-danger:hover {
  background-color: darkred !important;
  color: white;
}
/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

